@import "tailwindcss";

@theme inline {

}

/* basic reset */
* {
  box-sizing: border-box;
}

body {
  font-family: "Google sans", system-ui, Arial, Helvetica, sans-serif;
  background-color: white;
}

/* layout visualization */
/* *{
  outline: red  solid 1px;
  box-sizing: border-box;
} */