@import "tailwindcss";

@theme inline {
  --primary-base: #212121;
  --primary-100: #1e1e1e;
  --primary-200: #1a1a1a;
  --primary-300: #171717;
  --primary-400: #141414;
  --primary-500: #111111;
  --primary-600: #0d0d0d;
  --primary-700: #0a0a0a;
  --primary-800: #070707;
  --primary-900: #030303;
  --primary-tint-100: #373737;
  --primary-tint-200: #4d4d4d;
  --primary-tint-300: #646464;
  --primary-tint-400: #7a7a7a;
  --primary-tint-500: #909090;
  --primary-tint-600: #a6a6a6;
  --primary-tint-700: #bcbcbc;
  --primary-tint-800: #d3d3d3;
  --primary-tint-900: #e9e9e9;
}

/* basic reset */
* {
  box-sizing: border-box;
}

/* poppins font */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", system-ui, Arial, Helvetica, sans-serif;
  background-color: white;
}

/* layout visualization */
/* *{
  outline: red  solid 1px;
  box-sizing: border-box;
} */